body, ul, li, p, a {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 1.2rem;
  font-family: 'Roboto', serif;
  color: #ffffff;
  text-decoration: none;
}
a {
  color: rgb(161, 161, 161);
}
img {
  max-width: 100%;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

body {
  background: #000000;
  margin: 2rem;
}
p {
  text-align: justify;
}
section {
  background-color: rgba(0, 0, 0, 0.452);
  /*box-shadow: 4px 4px 10px rgb(53, 53, 53);*/
  border: 2px solid #2e2e2e;
  border-radius: 5px;
  max-width: 600px;
  padding: 50px;
  margin: 0 auto;
}
/* Hello */
.hello {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.photo {
  grid-row: 1 / 3;
}
.photo img {
  border-radius: 50%;
  border: solid;
}
.name {
  grid-column: 2 / 5;
  grid-row: 1;
  text-align: center;
}
.gadgets {
  text-align: center;
  grid-column: 2/4;
  grid-row: 2;
}
.gadgets img {
  max-width: 32px;
}
.projects img {
  width: 45%;
}
@media screen and (max-width: 600px) {
  .hello{
    display: flex;
    flex-direction: column;
  }
  .photo {
    text-align: center;
    padding-bottom: 10px;
  }
  .name {
    padding-bottom: 10px;
  }
  .photo img {
    width: 50%;
    border-radius: 50%;
  }
}
