body {
  background: #000000;
  margin: 2rem;
  color: #ffffff;
}

section {
  background-color: rgba(0, 0, 0, 0.452);
  border: 2px solid #2e2e2e;
  border-radius: 2px;
  max-width: 600px;
  padding: 50px;
  margin: 0 auto;
}

.apresentation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  align-items: center;
  &__photo {
    grid-row: 1 / 3;
  }
  &__photo img {
    border-radius: 50%;
    border: #ffffff solid 2px;
  }
  &__name {
    grid-column: 2 / 4;
    grid-row: 1;
    text-align: center;
    & h1 {
      font-size: 1.7rem;
    }
  }
  &__stacks {
    grid-column: 2 / 4;
    grid-row: 2;
    text-align: center;
    & img {
      display: inline;
      max-width: 32px;
    }
  }
}
.projects img {
  width: 45%;
}
@media screen and (max-width: 600px) {
  .hello{
    display: flex;
    flex-direction: column;
  }
  .photo {
    text-align: center;
    padding-bottom: 10px;
  }
  .name {
    padding-bottom: 10px;
  }
  .photo img {
    width: 50%;
    border-radius: 50%;
  }
}