$color-1: #F71963;
$color-2: #142032;
$color-3: #FFFFFF;
$color-4: #E8ECF2;
$color-5: rgba(247, 25, 99, 0.25);

$background: #171818;
$border-color: $color-2;
$text-color: $color-4;
$link-color: $text-color;
$link-houver-color: $text-color;